In [1]:
# Import libraries
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
import requests
import time

In [2]:
url = "https://mars.nasa.gov/news/"

executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

browser.visit(url)
time.sleep(5)
html = browser.html

soup = bs(html, 'html.parser')

results = soup.find('li', class_='slide')
news_title = results.find('h3').text
news_p = results.find('div',class_="article_teaser_body").text
print(f"Title: {news_title} \nDescription: {news_p}")

Title: NASA's Perseverance Rover Goes Through Trials by Fire, Ice, Light and Sound
Description: The agency's new Mars rover is put through a series of tests in vacuum chambers, acoustic chambers and more to get ready for the Red Planet.

In [3]:
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)
html = browser.html

soup = bs(html, 'html.parser')
browser.click_link_by_id('full_image')

browser.click_link_by_partial_text('more info')

html = browser.html
soup = bs(html, 'html.parser')

image_url = soup.find("img", class_="main_image")
featured_image_url = url.split("/spaceimages")[0] + image_url['src']
featured_image_url

C:\Users\nickv\Anaconda3\envs\PythonData2020\lib\site-packages\splinter\driver\webdriver\__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18899_hires.jpg'

In [7]:
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)
time.sleep(20)
html = browser.html

soup = bs(html, 'html.parser')

articles = soup.find_all('article')

latest_report_found = False
i = 0
mars_weather = "No Report Found"
while latest_report_found == False and i < len(articles):
    spans = articles[i].find_all('span')
    if spans[4].text[0:11] == "InSight sol":
        latest_report_found = True
        mars_weather = spans[4].text
    i += 1
    
mars_weather

'InSight sol 524 (2020-05-18) low -92.5ºC (-134.4ºF) high 0.5ºC (32.9ºF)\nwinds from the SW at 4.8 m/s (10.7 mph) gusting to 15.3 m/s (34.3 mph)\npressure at 7.00 hPa'

In [21]:
url = "https://space-facts.com/mars/"
tables = pd.read_html(url)

df = tables[0]
df.columns = ['Category', 'Value']

html_table = df.to_html(index=False)
print(html_table)

html_table = html_table.replace('\n', '')

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Category</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

               Category                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [19]:
url = https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars
browser.visit(url)
time.sleep(5)
html = browser.html

soup = bs(html, 'html.parser')
#loop thru the links and add to dictionary